.project_container {
    padding: 2em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30rem;
    margin-top: 15rem;
}